@font-face {
  font-family: "Ubuntu-regular";
  src: url("../fonts/ubuntu-r-webfont.woff2") format("woff2"), url("../fonts/ubuntu-r-webfont.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Ubuntu-bold";
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Lato-black";
  src: url("../fonts/lato-black-webfont.woff2") format("woff2"), url("../fonts/lato-black-webfont.woff") format("woff");
  font-weight: 900;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: sans-serif;
}

a, a:link, a:visited {
  text-decoration: none;
  display: block;                                                                  /*Залупа */
}

a:hover {
  text-decoration: none;
}

ul, ul li {
  list-style: none;
}

label, span {
  display: block;                                                                  /*Залупа */
}

.container {
  width: 100%;
  max-width: 1250px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  position: relative;
  z-index: 2;
}
.header__nav {
  width: 100%;
  max-width: 447px;
  margin: 0 auto 0 55px;
}
.header__list {
  display: flex;
  justify-content: space-between;
}
.header__item a {
  transition: all ease 0.2s;
  font-family: "Ubuntu-bold";
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.header__item a:hover {
  color: #9A9CA5;
}
.header__contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 421px;
}
.header__contact a {
  padding-left: 50px;
}
.header__contact a small {
  transition: all ease 0.2s;
  font-family: "Ubuntu-bold";
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}
.header__contact a span {
  transition: all ease 0.2s;
  font-family: "Ubuntu-regular";
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
}
.header__contact a:hover small {
  color: #9A9CA5;
}
.header__contact a:hover span {
  color: #9A9CA5;
}
.header__number {
  background-image: url(../images/header/iPhone.svg);
  background-repeat: no-repeat;
  background-position-y: center;
}
.header__email {
  background-image: url(../images/header/chat.svg);
  background-repeat: no-repeat;
  background-position-y: center;
}
.preview {
  width: 100%;
  height: 988px;
  background-image: url("../image/bg-title.jpg");
  background-repeat: no-repeat;
  background-position-y: center;
}
.preview__container {
  width: 726px;
  height: 648px;
  padding-top: 220px;
}
.preview__title {
  font-size: 72px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  line-height: 130%;
  letter-spacing: 1px;
  color: #FFFFFF;
}
.preview__title span {
  font-size: 72px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  line-height: 130%;
  color: #FF5A30;
  display: inline-block;
}

.preview__subtitle {
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  line-height: 150%;
  color: #FFFFFF;
  padding-top: 44px;
}
.preview__btns {
  width: 526px;
  display: flex;
  justify-content: space-between;
  padding-top: 61px;

}
.about__btn {
  border-radius: 4px;
  width: 278px;
  height: 52px;
  border: 1px solid #FFFFFF;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.about__content{
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  line-height: 52%;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.about__btn:hover {
  border-color: #FF5A30
}
.about__btn:hover >.about__content {
  color: #FF5A30;
}
.submit__btn {
  border-radius: 4px;
  width: 224px;
  height: 52px;
  background-color: #FF5A30;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.submit__content {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  line-height: 52%;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.submit__btn:hover {
  background-color: #FF7F50;
}
.submit__btn:hover >.submit__content {
  color: #FFFAFA;
}
.slider {
  width: 724px;
  height: 54px;
  padding-top: 179px;
}
.slider__breadcrumbs {
  display: flex;
  justify-content: space-between;
}
.slider__breadcrumb {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 150%;
  color: #9A9CA5;
  width: 178px;
}
.slider__breadcrumb_item {
  border-bottom: 2px solid #9A9CA5;
}

.slider__breadcrumb_active {
  color: #FFFFFF;
  border-color: #FFFFFF;
}
.arrow__left_btn {
  left: 32px;
}
.arrow__active {
  border-radius: 48px;
  width: 48px;
  height: 48px;
  outline: none;
  background: #9A9CA5;
  position: absolute;
  top: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.arrow__right_btn {
  right: 32px;
  transform: rotate(180deg);
}
.arrow__active:hover {
  background-color: #FFFFFF;
}
.construction__container {
  padding-top: 120px;
  height: 791px;
}
.construction__title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 46px;
  line-height: 130%;
  display: flex;
  justify-content: center;
  color: #1E212C;
}
.construction__text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  justify-content: center;
  padding-top: 37px;
  color: #787A80;
}
iframe {
  padding-top: 67px;
}

.feedback {
  padding: 80px 0;
  background: url(../images/Work/forms_bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.feedback .form {
  max-width: 495px;
  margin-left: auto;
  padding: 48px 40px;
  background: #FFFFFF;
}
.feedback .form h3 {
  text-align: center;
  margin-bottom: 24px;
  font-family: "Ubuntu-bold";
  font-size: 28px;
  line-height: 150%;
  color: #1E212C;
}
.feedback .form label {
  margin-bottom: 20px;
}
.feedback .form label span {
  margin-bottom: 8px;
  font-family: "Ubuntu-regular";
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}
.feedback .form input::-moz-placeholder {
  font-family: "Ubuntu-regular";
  font-size: 14px;
  line-height: 150%;
  color: #9A9CA5;
}
.feedback .form input::placeholder {
  font-family: "Ubuntu-regular";
  font-size: 14px;
  line-height: 150%;
  color: #9A9CA5;
}
.feedback .form__name, .feedback .form__phone, .feedback .form__email {
  width: 100%;
  height: 44px;
  padding: 0 16px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  background-color: #F4F5F6;
  outline: none;
  font-family: "Ubuntu-regular";
  font-size: 14px;
  line-height: 150%;
  color: #9A9CA5;
}
.feedback .form__message {
  width: 100%;
  height: 66px;
  padding: 11px 16px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  background-color: #F4F5F6;
  outline: none;
  font-family: "Ubuntu-regular";
  font-size: 14px;
  line-height: 150%;
  color: #9A9CA5;
  resize: none;
}
.feedback .form__checkbox {
  display: flex;
  align-items: baseline;
  gap: 12px;
  margin-bottom: 24px;
  cursor: pointer;
}
.feedback .form__checkbox span {
  font-family: "Ubuntu-regular";
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}
.feedback .form__btn {
  display: block;
  margin: 0 auto;
  height: 44px;
  padding: 0 32px;
  background: #FF5A30;
  border-radius: 4px;
  border: 1px solid #FF5A30;
  font-family: "Ubuntu-bold";
  font-size: 14px;
  line-height: 44px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all ease 0.2s;
}
.feedback .form__btn:hover {
  color: #FF5A30;
  background: none;
}

.footer {
  width: 100%;
  padding: 80px 0 80px;
  background-color: #1E212C;
}
.footer__top {
  display: flex;
  margin-bottom: 49px;
}
.footer__contact {
  width: 100%;
  max-width: 735px;
}
.footer__logo {
  display: inline-block;
  margin-right: 4%;
}
.footer__links {
  display: inline-flex;
  gap: 18px;
}
.footer__link a svg g {
  transition: all ease 0.2s;
}
.footer__link a:hover svg g {
  opacity: 1;
}
.footer__description {
  width: 100%;
  max-width: 493px;
  margin-top: 24px;
  font-family: "Ubuntu-regular";
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 60%;
}
.footer__form-title {
  margin-bottom: 24px;
  font-family: "Ubuntu-bold";
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
}
.footer__form {
  width: 100%;
  max-width: 495px;
}
.footer__form form {
  display: flex;
  width: 100%;
  height: 44px;
  margin-bottom: 16px;
}
.footer #footerEmail {
  width: 74%;
  padding: 11px 16px;
  background-color: #424551;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
  border: 1px solid #787A80;
  font-family: "Ubuntu-regular";
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 60%;
}
.footer #footerEmail::-moz-placeholder {
  font-family: "Ubuntu-regular";
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 60%;
}
.footer #footerEmail::placeholder {
  font-family: "Ubuntu-regular";
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 60%;
}
.footer #footerSubmit {
  width: 26%;
  font-family: "Ubuntu-bold";
  font-size: 14px;
  line-height: 44px;
  color: #FFFFFF;
  background-color: #FF5A30;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #FF5A30;
  transition: all ease 0.2s;
  cursor: pointer;
}
.footer #footerSubmit:hover {
  color: #FF5A30;
  background: none;
  border: 1px solid #FF5A30;
}
.footer__form-desc {
  font-family: "Ubuntu-regular";
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 60%;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 895px;
  margin-bottom: 38px;
}
.footer__item h6 {
  margin-bottom: 12px;
  font-family: "Ubuntu-bold";
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  letter-spacing: 1px;
}
.footer__item span {
  display: inline;
  margin-bottom: 4px;
  font-family: "Ubuntu-regular";
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}
.footer__item a {
  display: inline;
  opacity: 60%;
  font-family: "Ubuntu-regular";
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  transition: all ease 0.2s;
}
.footer__item a:hover {
  opacity: 100%;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer__copyrights {
  display: flex;
  justify-content: space-between;
  width: 297px;
}
.footer__copyrights span {
  font-family: "Ubuntu-regular";
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
}
.footer__copyrights span, .footer__copyrights svg {
  display: inline;
}
.footer__button {
  display: flex !important;
  align-items: flex-end;
  justify-content: space-between;
  width: 129px;
  font-family: "Ubuntu-regular";
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
.footer__button_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #FF5A30;
  border: 1px solid #FF5A30;
  transition: all ease 0.2s;
}
.footer__button:hover .footer__button_icon {
  background: none;
}
.footer__button:hover .footer__button_icon svg path {
  fill: #FF5A30;
}/*# sourceMappingURL=styles.css.map */
