
.header__item_work>a {
    color: #FF5A30;
}

ol {
    list-style-type: none;
}

.hero {
    padding-top: 152px;
    background: url(../images/Work/background.png) no-repeat;
    position: relative;
    top: -90px;
}

.breadcrumbs {
    display: inline-flex;
    gap: 22px;
    margin-bottom: 53px;
}

.breadcrumbs__link {
    font-family: 'Ubuntu-regular';
    font-size: 14px;
    line-height: 150%;
    color: #424551;
}

.breadcrumbs__link_active {
    color: #9A9CA5;
}

.breadcrumbs__link::before {
    content: '/';
    position: relative;
    left: -11px;
}
.breadcrumbs__link_home::before {
    content: '';
}

h1 {
    margin-bottom: 11px;
    font-family: 'Ubuntu-bold';
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 1px;
    color: #1E212C;
}

.hero__description {
    max-width: 600px;
    margin-bottom: 120px;
    font-family: 'Ubuntu-regular';
    font-size: 20px;
    line-height: 150%;
    color: #787A80;
}

.hero__cards {
    display: flex;
    gap: 20px;
}

.hero__card {
    width: 100%;
    max-width: 230px;
    height: 154px;
    padding: 32px 0;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(30, 33, 44, 0.03), 0px 12px 10px rgba(154, 156, 165, 0.04), 0px 30px 24px rgba(154, 156, 165, 0.05), 0px 80px 80px rgba(154, 156, 165, 0.08);
    transition: all ease .4s;
}

.hero__card>a>span {
    margin-top: 16px;
    font-family: 'Ubuntu-bold';
    font-size: 16px;
    line-height: 160%;
    color: #9A9CA5;
    transition: all ease .4s;
}

.hero__card:hover {
    background: #FF5A30;
    box-shadow: 0px 4px 4px rgba(30, 33, 44, 0.05), 0px 12px 10px rgba(255, 90, 48, 0.08), 0px 26px 24px rgba(255, 90, 48, 0.1), 0px 60px 80px rgba(255, 90, 48, 0.16);
}

.hero__card:hover>a>span {
    color: #fff;
}

.hero__card>a>svg>path {
    transition: all ease .4s;
}

.hero__card:hover>a>svg>path {
    fill: #fff;
}

.hero__card>a>svg>g>path {
    transition: all ease .4s;
}

.hero__card:hover>a>svg>g>path {
    fill: #fff;
}

.works {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding-top: 120px;
}

.works__case {
    max-width: 390px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(30, 33, 44, 0.03), 0px 12px 10px rgba(154, 156, 165, 0.04), 0px 30px 24px rgba(154, 156, 165, 0.05), 0px 80px 80px rgba(154, 156, 165, 0.08);
    border-radius: 4px;
    cursor: pointer;
}

.works__image {
    width: 100%;
}

.works__text {
    display: flex;
    width: 100%;
    padding: 16px 20px 24px;
    flex-direction: column;
    align-items: center;
    background: #fff;
    transition: all ease .4s;
    position: relative;
    z-index: 1;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.works__title {
    font-family: 'Ubuntu-bold';
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
}

.works__desc {
    font-family: 'Ubuntu-regular';
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
}

.case__btn {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 24px;
    z-index: 0;
    max-width: 172px;
    background: #fff;
    font-family: 'Ubuntu-bold';
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #ff5a30;
    border: 1px solid #ff5a30;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease .4s;
}

.case__btn:hover {
    background: #ff5a30;
    color: #fff;
} 

.works__case:hover .works__text {
    transform: translateY(-85px);
}

.load-btn {
    display: flex;
    gap: 16px;
    margin: 60px auto 0;
    background: none;
    cursor: pointer;
}

.load-btn>span {
    font-family: 'Ubuntu-bold';
    font-size: 16px;
    line-height: 160%;
    color: #424551;
}

.client {
    padding: 80px 0 110px;
    background: linear-gradient(to bottom, #F4F5F6 55%, white 45%);
}

.reviews {
    display: flex;
}

.reviews__text {
    width: 100%;
}

.reviews__text>h2{
    width: 100%;
     margin-bottom: 60px;
    text-align: center;
    font-family: 'Ubuntu-bold';
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
}

.swiper {
    width: 100%;
    max-width: 599px;
}

.swiper-slide>img {
    width: 72px;
    height: 72px;
    margin-bottom: 24px;
    border-radius: 40px;
}

.swiper-slide>p {
    margin-bottom: 24px;
    font-family: 'Ubuntu-regular';
    font-size: 16px;
    line-height: 160%;
    color: #424551;
}

.swiper-slide>strong {
    margin-bottom: 4px;
    font-family: 'Ubuntu-bold';
    font-size: 16px;
    line-height: 160%;
    color: #1E212C;
}

.swiper-slide>span {
    font-family: 'Ubuntu-regular';
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
}

.swiper-button-prev {
    left: auto;
    right: 50px;
}

.swiper-button-prev,
.swiper-button-next {
    top:auto;
    bottom: -10px;
}

.swiper-button-prev::after {
    content: '';
    width: 18px;
    height: 11px;
    background: url(../images/Work/arrow_left.svg);
}

.swiper-button-next::after {
    content: '';
    width: 18px;
    height: 11px;
    background: url(../images/Work/arrow_right.svg);
} 

.reviews__image {
    width: 100%;
    text-align: end;
}

.reviews__image>img {
    width: 80.5%;
}

.brands {
    width: 100%;
    margin-top: 120px;
}

.brands__title {
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Ubuntu-bold';
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
}

.brands__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brands__item {
    filter: grayscale(100%);
    cursor: pointer;
    transition: all ease .2s;
}

.brands__item>img {
    width: 100%;
}

.brands__item:hover {
    filter: none;
}

